body,
html{
   margin: 0;
   padding: 0;
   height: 100%;
   background-color: rgb(121, 121, 121); 
}
nav{
    background-color: rgb(28, 51, 145);
    padding: 20px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav .nav-links ul{
    margin-left: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
nav .nav-links ul li a{
    color: aliceblue;
    text-decoration: none;
    padding: 15px;

}

nav .nav-login {
    background-color: rgb(28, 51, 145);
}
nav .nav-login a{

    text-decoration: none;
    color: white;
}
a:hover{
    background-color: darkgray;
}
.secao{
    border: solid 1px aliceblue;
    height: 100vh;
    border-left: 100vh;

}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
    background-color: rgb(28, 51, 145);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
form{
    background-color: rgb(28, 51, 145);
    border-radius: 4px solid white;
    width: 310px;
    margin: auto;
    display: block;
    margin-top: 200px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input{
    width: 90%;
    padding: 6px;
    margin-bottom: 8px;
    border: 2px solid rgb(28, 51, 145);
    border-radius: 5px;
}
input [type=radio]{
    width: auto;
    margin-right: 5px;
}
label {
    margin-top: 8px; 
    display: block; 
    color: white;
}
input[type=radio] {
    width: auto;
    margin-right: 5px;
}
#id-logo{
    width: 53px;
    height: auto;
    float: right;
    background-color: rgb(227, 204, 110);
    filter: invert(100%);
}
#id-secao1{
    color: white;
    align-items: center;
    margin-left: 15px;
    text-align: justify;
    font-size: 30px;
}
#id-logosecao1{
    filter: invert(100%);
    position: absolute;
    top: 20%;
    right: 0;
    margin-right: 200px;
    scale: 180%;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#intro{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#id-secao2{
    margin-left: 15px;
}
